{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2 class="text"><span class="notopia">Notopia</span> note editor</h2>
    <p id="note_id" class="invisible">{% if editing_mode %}{{ note[0][0] }}{% endif %}</p>
    <p id="bg_color" class="invisible">{% if editing_mode %}{{ note[0][3] }}{% endif %}</p>
    <form id="form" class="note-form" action={% if editing_mode %}"/?id={{ note[0][0] }}"{% else %}"/"{% endif %} method="post">
        <label class="input-label text" for="title">Title</label>
        <input class="note_data" autocomplete="off" id="title" name="note_title" placeholder="Untitled note" value={% if editing_mode %}"{{ note[0][1] }}"{% endif %}>
        <label class="input-label text" for="note">Note</label>
        <textarea class="note_data" autocomplete="off" name="note_body" id="note" placeholder="Note">{% if editing_mode %}{{ note[0][2] }}{% endif %}</textarea>
        {% if not logged_in %}
            <p id="saving_disabled_message">You are currently not logged in, so saving has been disabled. To save your notes, please <a href="/login">log in</a> first.</p>
        {% else %}
            <p id="saving_disabled_message" class="invisible"></p>
        {% endif %}
    </form>
    <div class="tools">
        <svg id="undo_button" class="tool" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#f3f3f3" d="M48.5 224L40 224c-13.3 0-24-10.7-24-24L16 72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8L48.5 224z"/></svg>
        <svg id="redo_button" class="tool" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#f3f3f3" d="M463.5 224l8.5 0c13.3 0 24-10.7 24-24l0-128c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8l119.5 0z"/></svg>
        <div class="dropup-center dropup" data-bs-theme="dark">
            <svg class="tool" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#f3f3f3" d="M0 64C0 28.7 28.7 0 64 0L352 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64L64 192c-35.3 0-64-28.7-64-64L0 64zM160 352c0-17.7 14.3-32 32-32l0-16c0-44.2 35.8-80 80-80l144 0c17.7 0 32-14.3 32-32l0-32 0-90.5c37.3 13.2 64 48.7 64 90.5l0 32c0 53-43 96-96 96l-144 0c-8.8 0-16 7.2-16 16l0 16c17.7 0 32 14.3 32 32l0 128c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-128z"/></svg>
            <div class="dropdown-menu">
              <li><div id="bg-selector-dark" class="dropdown-item"></div></li>
              <li><div id="bg-selector-red" class="dropdown-item"></div></li>
              <li><div id="bg-selector-orange" class="dropdown-item"></div></li>
              <li><div id="bg-selector-yellow" class="dropdown-item"></div></li>
              <li><div id="bg-selector-green" class="dropdown-item"></div></li>
              <li><div id="bg-selector-aqua" class="dropdown-item"></div></li>
              <li><div id="bg-selector-navy" class="dropdown-item"></div></li>
              <li><div id="bg-selector-blue" class="dropdown-item"></div></li>
              <li><div id="bg-selector-purple" class="dropdown-item"></div></li>
              <li><div id="bg-selector-pink" class="dropdown-item"></div></li>
            </div>
        </div>
        <button>undo</button>
        {% if editing_mode %}
            <svg data-bs-toggle="modal" data-bs-target="#deleteConfirmation" class="editor-trash-can tool" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#f3f3f3" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>
            <div class="modal" id="deleteConfirmation" tabindex="-1" aria-labelledby="deleteConfirmation" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteConfirmation">Confirm deletion</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the note "{{ note[0][1][:20] }}{% if note[0][1]|length > 20 %}...{% endif %}"?<br>This action can't be undone!
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, keep note</button>
                    <a href="/?del={{ note[0][0] }}"><button type="button" class="btn btn-warning" data-bs-dismiss="modal">Yes, delete note</button></a>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
<script src="../static/index.js"></script>
{% endblock %}