{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}
<h1 class="title">Join us!</h1>
<form action="/signup" method="post">
    <p class="input-label text">Username</p>
    <input autocomplete="off" type="text" placeholder="Username" name="username">
    <p class="input-label text">Password</p>
    <input autocomplete="off" type="password" placeholder="Password" name="password">
    <p class="input-label text">Confirm password</p>
    <input autocomplete="off" type="password" placeholder="Confirm password" name="confirmation">
</form>
{% endblock %}