{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}
<div class="title-wrapper"><h1 class="title title-276">Join us!</h1></div>
<form action="/signup" method="post">
    <label for="username" class="input-label text">Username</label>
    <input id="username" required autocomplete="off" type="text" placeholder="Username" name="username">
    <p id="username_warning" class="small-text"> </p>
    <label for="password" class="input-label text">Password</label>
    <input id="password" required autocomplete="off" type="password" placeholder="Password" name="password">
    <p id="password_rules" class="small-text"> </p>
    <label for="confirmation" class="input-label text">Confirm password</label>
    <input id="confirmation" required autocomplete="off" type="password" placeholder="Confirm password" name="confirmation">
    <p id="confirmation_warning" class="small-text"> </p>
    <input id="submit" class="btn btn-success" disabled="disabled" tabindex="-1" aria-disabled="true" type="submit" value="Sign up">
</form>
<a href={{ login_url }}><button class="btn btn-link">Aleady have an account? Log in here.</button></a>
{% endblock %}

{% block script %}
    <script src="../static/signup.js"></script>
{% endblock %}